<div class="dialog-header">
    <div class="d-flex justify-content-between align-items-center px-4 py-2">
        <!-- <p class="f-16-m"> {{data.mode|titlecase}} {{data.mode == 'CREATE'? 'New
            ':''}}{{data.type|enum}}</p> -->
        <p class="f-16-m">Add {{data.type|titlecase}}</p>
        <button mat-icon-button (click)="dialogClose()"> <mat-icon>close</mat-icon></button>
    </div>
    <mat-divider></mat-divider>
</div>
<mat-dialog-content class="modal-height px-3">
    <form>

        <div class="text-center mb-4">
            <div class="d-flex flex-column align-items-center">
                <label for="iconUpload" class="cursor-pointer">
                    <img [src]="selectedImage || 'assets/images/placeholder-image.svg'" alt="Upload Icon" width="100"
                        height="100"
                        style="object-fit: contain; border: 1px dashed #ccc; border-radius: 8px; padding: 10px;" />
                </label>
                <input type="file" id="iconUpload" hidden (change)="onImageSelected($event)"
                    accept=".png,.jpg,.jpeg,.svg" />
                <button mat-stroked-button class="mt-2" (click)="triggerImageUpload()">Change Icon</button>
                <p class="mt-1 small text-muted">Format: .jpg, .png, .svg</p>
            </div>
        </div>


        <div class="d-flex">
            <div class="me-5">
                <mat-form-field appearance="outline" class="form-feild-width">
                    <mat-label>Item Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-feild-width">
                    <mat-label>Item Type</mat-label>
                    <mat-select>
                        <mat-option value="NON_VEG">NON VEG</mat-option>
                        <mat-option value="VEG">VEG</mat-option>
                        <mat-option value="EGG">EGG</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex ">
            <div class="me-5">
                <mat-form-field appearance="outline" class="form-feild-width">
                    <mat-label>Select Category</mat-label>
                    <mat-select>
                        <mat-option value="STARTERS">Starters</mat-option>
                        <mat-option value="BREADS">Breads</mat-option>
                        <mat-option value="RICE">Rice</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-feild-width">
                    <mat-label>Availability</mat-label>
                    <mat-select>
                        <mat-option value="AVAILABILE">Availabile</mat-option>
                        <mat-option value="OUT_OF_STOCK">Out of Stock</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex">
            <div class="me-5">
                <mat-form-field appearance="outline" class="form-feild-width">
                    <mat-label>Price</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-feild-width">
                    <mat-label>Preparation Time</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex ">
            <div class="me-5">
                <mat-form-field appearance="outline" class="form-feild-width">
                    <mat-label>Spice Level</mat-label>
                    <mat-select>
                        <mat-option value="LOW">Low</mat-option>
                        <mat-option value="MEDIUM">Medium</mat-option>
                        <mat-option value="HIGH">High</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-feild-width">
                    <mat-label>Chef Special / Recommended</mat-label>
                    <mat-select>
                        <mat-option value="Yes">Yes</mat-option>
                        <mat-option value="No">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex ">
            <div class="me-5">
                <mat-form-field appearance="outline" class="form-feild-width">
                    <mat-label>Customizable</mat-label>
                    <mat-select>
                        <mat-option value="YES">Yes</mat-option>
                        <mat-option value="NO">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-feild-width">
                    <mat-label>Description</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>


        <div class="d-flex align-items-center mt-3">
            <mat-slide-toggle [(ngModel)]="hasVariants" (change)="toggleVariants()" color="accent">
                Has Variants
            </mat-slide-toggle>

            <button mat-stroked-button color="primary" type="button" (click)="addVariant()" class="ms-auto"
                [disabled]="!hasVariants">
                + Add More
            </button>
        </div>

        <div *ngIf="hasVariants">
            <table mat-table [dataSource]="variants" class="mat-elevation-z8 mt-4">

                <ng-container matColumnDef="variant">
                    <td mat-cell *matCellDef="let element; let i = index">
                        <div class="d-flex">
                            <div class="me-5">
                                <mat-form-field appearance="outline" class="form-feild-width">
                                    <mat-label>Variant Name</mat-label>
                                    <input matInput [(ngModel)]="element.variantName" name="variantName{{i}}">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline" class="form-feild-width">
                                    <mat-label>Price</mat-label>
                                    <input matInput [(ngModel)]="element.variantCode" name="variantCode{{i}}">
                                </mat-form-field>
                            </div>
                            <button mat-icon-button color="warn" (click)="removeVariant(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </form>
</mat-dialog-content>
<div class="dialog-footer">
    <mat-divider></mat-divider>
    <div class=" d-flex align-items-center px-4 py-3">
        <div class="ms-auto ">
            <button mat-stroked-button color="accent" (click)="dialogClose()" class="me-5">Cancel</button>
            <button mat-flat-button color="accent" (click)="CreateUpdate()">Save
            </button>
        </div>

    </div>
</div>