.breadcrum-card {
    height: 140px !important;
    // width: 1380px !important;
    flex-shrink: 0;
    border-radius: 6px;
    background-color: transparent !important;
    border-radius: 8px !important;
    margin: 30px 10px 10px 10px;
    padding: 0px 20px;

}
mat-card{
    width: 1200px;
    border-radius: 8px;
}
.feild-width{
    width: 350px;
}
.w-600 {
    width: 530px;
  }