<nav class="breadcrumb-bar" aria-label="Breadcrumb" [class.collapsed]="sidebarCollapsed">
  <div class="breadcrumb-content">
    <ol class="breadcrumb-list" role="list">
      <li class="breadcrumb-item"
        *ngFor="let bc of breadcrumbs$ | async; let last = last; let first = first; trackBy: trackByUrl"
        role="listitem">

        <!-- Link (not last item) -->
        <a *ngIf="!last" class="breadcrumb-link" [routerLink]="bc.url" [attr.aria-label]="bc.label">
          <mat-icon *ngIf="first && bc.icon" class="breadcrumb-icon">{{ bc.icon }}</mat-icon>
          <span>{{ bc.label }}</span>
        </a>

        <!-- Current (last item) -->
        <span *ngIf="last" class="breadcrumb-current" aria-current="page">
          <mat-icon *ngIf="first && bc.icon" class="breadcrumb-icon">{{ bc.icon }}</mat-icon>
          <span>{{ bc.label }}</span>
        </span>

        <!-- Separator -->
        <!-- <mat-icon *ngIf="!last" class="breadcrumb-separator">chevron_right</mat-icon> -->
      </li>
    </ol>

    <!-- Actions slot -->
    <div class="breadcrumb-actions">
      <ng-content select="[breadcrumb-actions]"></ng-content>
    </div>
  </div>
</nav>