.auth-c {
    .panel {
        margin: 0;
        padding: 0;
    }

    .poweredBy {
        text-align: center;
        opacity: 0.5;

        img {
            height: 24px;
            margin-left: 40px;
        }
    }
}

.leftPanel {
    background: url(../../../assets/Images/confetti-doodles.svg);
    background-size: contain;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 60%;

    .h-n80 {
        height: calc(100vh - 80px);
    }

}

.rightPanel {
    position: relative;

    .auth-max-width {
        width: 100%;
        max-width: 520px;
    }

    .q4 {
        color: #12B393;
    }
}


// spalsh

.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .logo img {
        height: 48px;
    }

    .loader-circle {
        height: 104px;
        justify-content: center;
    }
}




//otp-css

.otp {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/Images/user-1.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .otp-card {
    width: 100%;
    max-width: 550px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

button.enabled {
    background-color: #0D47A1;
  }
   
  button.disabled {
    background-color: #d9d9d9;
  }
   
  .input-size {
    height: 64px;
    width: 64px;
    text-align: center;
    font-size: 24px;
    margin: 0 5px;
  }
   
  .otp-inputs {
    display: flex;
    justify-content: center;
  }
   
  .otp-text {
    color: #252525
  }
   
  .icon-color {
    color: #000;
  }
   
  .continue-butt {
    width: 340px;
    height: 49px;
  }
   
  .resend-text {
    text-decoration: none
  }