.show-scroll {
  overflow: hidden;
  min-width: 1200px;
  height: 100%;
}

.show-scroll .mat-drawer-container {
  height: 100%;
}

.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  overflow-y: auto;
}

.mat-sidenav-content {
  overflow: auto;
}


.show-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.show-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.mat-drawer-side.collapsed {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12);
}

.menuProfile {
  border: none;
  background-color: transparent;
  cursor: pointer;

  p {
    font-family: 'Poppins', Helvetica, sans-serif;
  }

  img {
    border-radius: 50%;
  }
}

.active-btn {
  background-color: black !important;
}

::ng-deep .mdc-list-item--with-leading-icon .mdc-list-item__start {
  margin-left: 4px !important;
  margin-right: 24px !important;
}

.active-list-item {
  background-color: #e6e4de !important;
  color: #7B632E !important;
}
::ng-deep .active-list-item .mat-list-item-icon,
::ng-deep .active-list-item .mat-list-item-title,
::ng-deep .active-list-item .list-title-link  {
  color: #7B632E !important;
}

.mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-one-line,
.mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-one-line,
.mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
  height: 40px !important;
}