<div class="show-scroll">

  <mat-toolbar color="primary" style="background-color: white; border-bottom: 1px solid #e0e0e0;"
    *ngIf="loginService.isUserLoggedIn()">
    <!-- ...toolbar content as before... -->
  </mat-toolbar>
  <div style="display: flex; height: calc(100vh - 64px);">
    <div class="d-flex flex-column align-items-center pt-4"
      style="width: 60px; min-width: 60px; max-width: 60px; background-color: #001B3D; gap: 16px; z-index: 2;">
      <div *ngFor="let icon of icons; let i = index">
        <button mat-icon-button [ngClass]="{'active-btn': activeIndex === i}" (click)="onIconClick(i)"
          [matTooltip]="icon.tooltip" matTooltipPosition="right">
          <mat-icon style="color: aliceblue;">
            <span class="material-symbols-outlined">{{icon.name}}</span>
          </mat-icon>
        </button>
      </div>
    </div>
    <mat-sidenav-container style="flex: 1 1 auto; min-height: 500px;">
      <mat-sidenav #sidenav mode="side" [opened]="sidenavOpened" position="start" *ngIf="loginService.isUserLoggedIn()">
        <div *ngIf="activeIndex !== 0">
          <div class="d-flex flex-column flex-grow-1 p-4">
            <mat-list>
              <div mat-subheader style="font-weight: 600;">
                {{ iconListData[icons[activeIndex].name].title }}
              </div>
              <mat-list-item *ngFor="let item of iconListData[icons[activeIndex].name].items; let idx = index"
                [ngClass]="{'active-list-item': activeListItemIndex === idx}">
                <mat-icon matListItemIcon>
                  <span class="material-symbols-outlined">{{item.icon}}</span>
                </mat-icon>
                <div matListItemTitle class="list-title-link"
                  (click)="activeListItemIndex = idx; navigateTo(item.route)">
                  {{ item.title }}
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-sidenav>

      <!-- Main Content -->
      <div style="padding: 24px;">
        <router-outlet></router-outlet>
        <div class="gap" *ngIf="loginService.isUserLoggedIn()"></div>
      </div>
    </mat-sidenav-container>
  </div>
</div>