// ===== Variables =====
$sidenav-width: 260px;
$sidenav-width-tablet: 240px;
$collapsed-width: 72px;
$header-height: 64px;
$header-height-mobile: 56px;
$breadcrumb-height: 48px;
$breadcrumb-height-mobile: 44px;

// ===== Breakpoints =====
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;
$desktop-breakpoint: 1280px;
$large-desktop-breakpoint: 1536px;

@mixin mobile {
  @media (max-width: #{$mobile-breakpoint - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $mobile-breakpoint) and (max-width: #{$tablet-breakpoint - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: $large-desktop-breakpoint) {
    @content;
  }
}

// ===== Layout Container =====
.app-layout {
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;
  background: #f9fafb;
  margin: 0;
  padding: 0;
}

// ===== Main Area =====
.main-area {
  flex: 1;
  min-width: 0;
  margin-left: $sidenav-width;
  transition: margin-left 0.3s ease;
  margin: 0;
  padding: 0;

  @include tablet {
    margin-left: $sidenav-width-tablet;
  }

  @include mobile {
    margin-left: 0;
  }

  .sidenav-collapsed & {
    margin-left: $collapsed-width;

    @include mobile {
      margin-left: 0;
    }
  }
}

// ===== Page Content =====
.page-content {
  padding-top: calc(#{$header-height} + #{$breadcrumb-height});
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;

  @include mobile {
    padding-top: calc(#{$header-height-mobile} + #{$breadcrumb-height-mobile});
  }
}

.content-container {
  padding: 24px;
  max-width: 1600px;
  margin: 0 auto;

  @include tablet {
    padding: 20px;
  }

  @include mobile {
    padding: 16px;
  }

  @include large-desktop {
    max-width: 1800px;
    padding: 32px;
  }
}

// ===== Global Responsive Utilities =====
:host {
  --sidenav-width: #{$sidenav-width};
  --sidenav-collapsed-width: #{$collapsed-width};
  --header-height: #{$header-height};
  --breadcrumb-height: #{$breadcrumb-height};

  @include tablet {
    --sidenav-width: #{$sidenav-width-tablet};
  }

  @include mobile {
    --sidenav-width: 0px;
    --header-height: #{$header-height-mobile};
    --breadcrumb-height: #{$breadcrumb-height-mobile};
  }
}
