.brand-logo {
    min-height: 64px;
    padding: 0 16px 0 20px;
    margin-bottom: 8px;

    .logo-img {
        width: 40px;
        overflow: hidden;
        white-space: nowrap !important;
    }
}



.nav-hV {
    height: calc(100vh - 170px);
}

.hV {
    height: calc(100vh - 75px);
}

.nav-body {

    overflow-y: auto;
    padding: 0 16px;
    border-radius: 5px;


    .mat-mdc-subheader {
        margin-left: 0;
    }

    .mdc-list {

        // width: fit-content;
        .mdc-list-item {
            cursor: pointer;
            border-radius: 7px;
            margin-bottom: 5px;
            padding: 0;
            // width: fit-content;
        }

        .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
            height: 48px;
        }

        .mdc-list-item--with-leading-icon .mdc-list-item__start {
            margin-left: 16px;
            margin-right: 8px;
            color: unset;
        }


        .mdc-list-item:hover {
            cursor: pointer;
            color: #234876;
            // background: #EEF3FF;
            background-color: #E8EFF6;

        }

        .mdc-list-item.link-active {
            // background: #680844;
            background: #234876;

        }

        .mdc-list-item.link-active * {
            color: #fff;
        }



    }

    // .mat-mdc-list-base .mat-mdc-list-item {
    //     cursor: pointer;


    // }

    .mat-expansion-panel {
        .mdc-list {
            padding: 0;
        }



    }

    .mat-expansion-panel:not([class*=mat-elevation-z]) {
        box-shadow: none;
    }

    .mat-expansion-panel-spacing {
        margin: 0;
    }

    .mat-expansion-panel-header {
        padding: 0 16px 0 10px;
    }

    ::ng-deep .mat-expansion-panel-body {
        // padding: 0 16px 0px !important;
        padding: 0;

    }

    // ::ng-deep .mat-expansion-indicator:mat-expanded::after {
    //     transform: rotate(-45deg);
    // }
    ::ng-deep .mat-expansion-panel:not(.mat-expanded)::after {
        transform: rotate(45deg);
    }

    .bulletIcon {
        font-size: 8px;
        width: 8px;
        height: 8px;
    }

    .separator {
        text-align: end;
    }

}

.fixed-profile {
    background: #E8EFF6;
    border-radius: 5px;
}

.hstack {
    display: flex;

    img {
        border-radius: 50%;
    }

    .user-title p,
    .user-title span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 150px;
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

.banner {
    padding: 16px;

    .bannerImg {
        width: 224px;
    }
}


.active-btn {
    background-color: black !important;
}

::ng-deep .mdc-list-item--with-leading-icon .mdc-list-item__start {
    margin-left: 4px !important;
    margin-right: 24px !important;
}

.active-list-item {
    background-color: #e6e4de !important;
    color: #7B632E !important;
}

.active-list-item .mat-list-item-icon,
.active-list-item .list-title-link {
    color: #7B632E !important;
}

.mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-one-line,
.mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-one-line,
.mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
    height: 40px !important;
}