<div class="sidenav-container">
  <nav class="primary-sidenav">
    <ul>
      <li [class.active]="selectedMenu === 'dashboard'" (click)="selectMenu('dashboard')" title="Dashboard">
        <i class="fas fa-chart-line"></i>
      </li>
      <li *ngIf="filteredMenuConfig['uam']" [class.active]="selectedMenu === 'uam'" (click)="selectMenu('uam')" title="User Access Management">
        <i class="fas fa-users"></i>
      </li>
      <li *ngIf="filteredMenuConfig['caseManagement']" [class.active]="selectedMenu === 'caseManagement'" (click)="selectMenu('caseManagement')" title="Case Management">
        <i class="fas fa-briefcase"></i>
      </li>
      <li *ngIf="filteredMenuConfig['administration']" [class.active]="selectedMenu === 'administration'" (click)="selectMenu('administration')" title="Administration">
        <i class="fas fa-cogs"></i>
      </li>
    </ul>
  </nav>

  <nav class="secondary-sidenav" *ngIf="selectedMenu !== 'dashboard' && hasMenuItems(selectedMenu)">
    <div class="sidenav-heading">{{ getSidenavHeading() }}</div>
    <ul>
      <ng-container [ngSwitch]="selectedMenu">
        <ng-container *ngSwitchCase="'uam'">
          <li *ngFor="let item of filteredMenuConfig['uam']?.items">
            <a [routerLink]="item.route" routerLinkActive="active">{{ item.title }}</a>
          </li>
        </ng-container>
        <ng-container *ngSwitchCase="'caseManagement'">
          <li *ngFor="let item of filteredMenuConfig['caseManagement']?.items">
            <a [routerLink]="item.route" routerLinkActive="active">{{ item.title }}</a>
          </li>
        </ng-container>
        <ng-container *ngSwitchCase="'administration'">
          <li *ngFor="let item of filteredMenuConfig['administration']?.items">
            <a [routerLink]="item.route" routerLinkActive="active">{{ item.title }}</a>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </nav>
</div>