.dialog-header,
.dialog-footer {
    height: 64px;
}

::ng-deep .modal-height.mat-mdc-dialog-content {
    max-height: calc(100vh - 134px) !important;
}

.form-feild-width {
    width: 300px;
}

.upload-preview {
  object-fit: contain;
  border: 1px dashed #ccc;
  border-radius: 12px;
  padding: 12px;
//   width:100px; 
//   height:200px;
}

.change-icon-text {
  color: #a0772d;
  font-weight: 500;
  text-decoration: underline;
}



.profile-avatar {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50% !important;
    border: 2px solid #f0f0f0;
    background: #f8f8f8;
}

.edit-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    // background-color: white;
    // border-radius: 50%;
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.edit-btn mat-icon {
    font-size: 24px;
    color: blue;
}
.profile-section {
    margin-left: 50px;
}