button.enabled {
    background-color: #0D47A1;
  }
   
  button.disabled {
    background-color: #d9d9d9;
  }
   
  .input-size {
    height: 64px;
    width: 64px;
    text-align: center;
    font-size: 24px;
    margin: 0 5px;
  }
   
  .otp-inputs {
    display: flex;
    justify-content: center;
  }
   
  .otp-text {
    color: #252525
  }
   
  .icon-color {
    color: #000;
  }
   
  .continue-butt {
    width: 340px;
    height: 49px;
  }
   
  .resend-text {
    text-decoration: none
  }