mat-card {
    max-width: 1300px;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 16px;
}


.search-field{
    width: 380px !important;
}
.section{
    width: 1200px;
    border-radius: 8px;
    margin-bottom: 12px;
}