// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$tou-ops-primary-palette: (
  100: #E6F6F3,
  300:#12B393,
  500:#0E9177,
  700:#0A6F5B,
  900:#064E40,
  contrast:(100: #064E40,
    300:#1A1A1A,
    500:#000D1F,
    700:#FFFFFF,
    900:#FFFFFF,
  )
);

$tou-ops-accent-palette: (
  100: #E8EFF6,
  300:#376DAA,
  500:#2D5A90,
  700:#234876,
  900:#1A365D,
  contrast:(100: #001B3D,
    300:#FFFFFF,
    500:#FFFFFF,
    700:#F2F2F2,
    900:#F2F2F2,
  )
);

$tou-ops-primary: mat.define-palette($tou-ops-primary-palette, 300);
$tou-ops-accent: mat.define-palette($tou-ops-accent-palette, 900);
// The warn palette is optional (defaults to red).
$tou-ops-warn: mat.define-palette(mat.$red-palette);

$tou-ops-typography: mat.define-typography-config($font-family: '"Poppins", "Helvetica Neue", sans-serif');
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tou-ops-theme: mat.define-light-theme((color: (primary: $tou-ops-primary,
        accent: $tou-ops-accent,
        warn: $tou-ops-warn,
      ),
      typography: $tou-ops-typography,
      density: 0));



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tou-ops-theme);
// @include mat.all-component-densities(-3);
// @include mat.button-density(-1);
// @include mat.form-field-density(-3);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.mat-drawer-container {
  background-color: #fff !important;
}

.mat-drawer-side {
  border-right: 1px solid#ebf1f6 !important;
  // rgb(0 0 0 / 12%)
}

.mat-mdc-card {
  // box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px !important;
  border: 1px solid #ebf1f6 !important;
  border-radius: 7px !important;
  box-shadow: none;
}

.mat-mdc-dialog-container .mdc-dialog__content {
  color: unset !important;
}

.custom-dialog-animation {
  animation: slide-in-from-right 0.5s ease forwards;
}


@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.custom-dialog-close-animation {
  animation: slide-out-to-right 0.5s ease-in-out forwards;
}

@keyframes slide-out-to-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 1;
  }
}

.tou-spacer {
  flex: 1 1 auto;
}


// .mat-drawer-container {
//   background-color: #fff !important;
// }
.opacity-0 {
  opacity: 0;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
}

.opacity-1 {
  opacity: 1;
  filter: alpha(opacity=1);
  /* For IE8 and earlier */
}


.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.text-center {
  text-align: center !important;
}

.rounded-circle {
  border-radius: 50%;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-hidden-x {
  overflow-x: hidden !important;
}

.overflow-hidden-y {
  overflow-y: hidden !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.form-label {
  // display: inline-block;
  display: block;
  margin-bottom: 0.5rem;
  @extend .f-14-r !optional;
}

.form-label-inline {
  display: inline;
  margin-bottom: 0.5rem;
}

.icon-08x {
  transform: scale(0.8);
}

.bch {
  // background-color: #E3F2FD;
  overflow-y: hidden;

  .mat-mdc-card-content {
    margin-bottom: -4rem;
    overflow: hidden;
  }

  img {
    height: 140px;
  }
}

.bch-widget {
  position: relative;
  z-index: 9;
  overflow: hidden;
  margin-bottom: 0;
}

.bch-widget::before {
  content: "";
  height: 300px;
  width: 300px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  background: -webkit-linear-gradient(225deg, var(--bs-primary) 6%, var(--bs-primary) 56%);
  background: -o-linear-gradient(225deg, var(--bs-primary) 6%, var(--bs-primary) 56%);
  background: linear-gradient(225deg, var(--bs-primary) 6%, var(--bs-primary) 56%);
  top: 45px;
  right: -1rem;
  -webkit-box-shadow: 0px 10px 50px 10px rgba(153, 159, 172, .2);
  box-shadow: 0px 10px 50px 10px rgba(153, 159, 172, .2);
}

.back-button.mat-mdc-button>.mat-icon {
  margin: 0;
}

// ----Snack Bar  ---

.snackBar-success.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background-color: #2EA651;

    .mdc-button.mat-mdc-button {
      color: #fff;
    }
  }
}

.snackBar-error.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background-color: #DA1D27;

    .mdc-button.mat-mdc-button {
      color: #fff;
    }
  }
}

.snackBar-warn.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background-color: #F1C219;

    .mdc-snackbar__label {
      color: #333;
    }

    .mdc-button.mat-mdc-button {
      color: #333;
    }
  }
}

.snackBar-info.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background-color: #fff;

    .mdc-snackbar__label {
      color: #333;
    }

    .mdc-button.mat-mdc-button {
      color: #333;
    }
  }
}

.snackBar-notification.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background-color: #FFFFFF;

    .mdc-snackbar__label {
      color: #333;
    }

    // .mdc-button.mat-mdc-button {
    //   color: #333;
    // }
  }
}

// ---- Snack Bar Ends--------


// .primarySideNav .mat-mdc-list-base .mat-mdc-list-item.link-active,
// .primarySideNav .mdc-list-item:focus::before {
//   color: #000000;
//   background: rgba(0, 0, 0, 0.04);
//   font-weight: 500 !important;
// }
.primarySideNav {
  transition: width ease .5s;
}

.primarySideNav .mat-expansion-panel-header.mat-expanded {
  .mat-expansion-indicator {
    transform: rotate(0deg) !important;
  }

  .mat-expansion-panel-header-title,
  .mat-mdc-list-item-title,
  .mat-icon,
  .mat-expansion-indicator::after {
    color: #234876;
  }
}

.primarySideNav .mdc-list-item,
.primarySideNav .mat-accordion .mat-expansion-panel:not(.mat-expanded) {
  border-radius: 5px;

  .mat-expansion-indicator::after {
    transform: rotate(-45deg);
  }

  .mdc-list-item {
    height: 56px;
  }
}

.primarySideNav .mdc-list-item:hover,
.primarySideNav .mat-accordion .mat-expansion-panel:not(.mat-expanded):hover {
  background: #E8EFF6;

  .mat-expansion-panel-header-title,
  .mat-mdc-list-item-title,
  .mat-icon,
  .mat-expansion-indicator::after {
    color: #234876;
  }
}

.primarySideNav .mdc-list-item .mat-mdc-list-item-title,
.primarySideNav .mat-expansion-panel-header-title .mdc-list-item__primary-text {
  font-size: 14px;
}

// .primarySideNav .mdc-list-item:hover,
// .primarySideNav .mat-accordion .mat-expansion-panel:not(.mat-expanded) :hover {}

// .mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {


// .primarySideNav .mat-mdc-list-base .mat-mdc-list-item.link-active,
// .primarySideNav .mdc-list-item1:focus::before {
//   color: #fff !important;
//   background: #12B393;
// }



// scroll bar 
// ::-webkit-scrollbar,
// .scrollbar {
//   width: 8px !important;
// }

// ::-webkit-scrollbar-thumb,
// .scrollbar-thumb {
//   border-radius: 4px;
//   background: #DEE0E1;
// }

// ::-webkit-scrollbar-track,
// .scrollbar-thumb {
//   width: 8px;
//   opacity: 0;
//   z-index: 1;
//   background: rgba(222, 222, 222, .75);
//   background: transparent;

// }

// ::-webkit-scrollbar-track,
// .scrollbar-track:hover {
//   opacity: 1;
//   -webkit-transition-delay: 0s;
//   transition-delay: 0s;
// }

/* ScrollBar 1*/

::-webkit-scrollbar {
  width: 8px;
  scroll-behavior: smooth;
  // transition: background-color 0.2s ease;
  transition: height 1154ms ease-in-out 0s;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  // background: #f4f4f4;
  // border: 1px solid #cacaca;
}

// .nav-body::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: #DEE0E1;
// }

::-webkit-scrollbar-thumb:hover {
  border-radius: 4px;
  // background-color: #DEE0E1;
  background-color: #BDC1C6;
  // transition: all 4s ease-in-out;
  // -webkit-transition: all 4s ease-in-out;
  transition: height 1154ms ease-in-out 0s;

}

// scrollbar end --****


.vh-100 {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

//Font classes
//128
.f-128-r {
  font-size: 128px;
  line-height: 8rem;
  font-weight: 400;
}

.f-128-m {
  font-size: 128px;
  line-height: 8rem;
  font-weight: 500;
}

.f-128-b {
  font-size: 128px;
  line-height: 8rem;
  font-weight: 700;
}

// 96  
h1,
.f-96-r {
  font-size: 96px;
  line-height: 6rem;
  font-weight: 400;
}

.f-96-m {
  font-size: 96px;
  line-height: 6rem;
  font-weight: 500;
}

.f-96-b {
  font-size: 96px;
  line-height: 6rem;
  font-weight: 700;
}

//64
h2,
.f-64-r {
  font-size: 64px;
  line-height: 4rem;
  font-weight: 400;
}

.f-64-m {
  font-size: 64px;
  line-height: 4rem;
  font-weight: 500;
}

.f-64-b {
  font-size: 64px;
  line-height: 4rem;
  font-weight: 700;
}

//48
.f-48-r {
  font-size: 48px;
  line-height: 3rem;
  font-weight: 400;
}

h3,
.f-48-m {
  font-size: 48px;
  line-height: 3rem;
  font-weight: 500;
}

.f-48-b {
  font-size: 48px;
  line-height: 3rem;
  font-weight: 700;
}

//40
.f-40-r {
  font-size: 40px;
  line-height: 3rem;
  font-weight: 400;
}

h4,
.f-40-m {
  font-size: 40px;
  line-height: 3rem;
  font-weight: 500;
}

.f-40-b {
  font-size: 40px;
  line-height: 3rem;
  font-weight: 700;
}

//36
.f-36-r {
  font-size: 36px;
  line-height: 2.5rem;
  font-weight: 400;
}

h5,
.f-36-m {
  font-size: 36px;
  line-height: 2.5rem;
  font-weight: 500;
}

.f-36-b {
  font-size: 36px;
  line-height: 2.5rem;
  font-weight: 700;
}

//32
.f-32-r {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 400;
}

.f-32-m {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 500;
}

.f-32-b {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

//24
.f-24-r {
  font-size: 24px;
  line-height: 1.5rem;
  font-weight: 400;
}

h6,
.f-24-m {
  font-size: 24px;
  line-height: 1.5rem;
  font-weight: 500;
}

.f-24-b {
  font-size: 24px;
  line-height: 1.5rem;
  font-weight: 700;
}

//20
.f-20-r {
  font-size: 20px;
  line-height: 1.25rem;
  font-weight: 400;
}

.f-20-m {
  font-size: 20px;
  line-height: 1.25rem;
  font-weight: 500;
}

.f-20-b {
  font-size: 20px;
  line-height: 1.25rem;
  font-weight: 700;
}

//16
.f-16-r {
  font-size: 16px;
  line-height: 1rem;
  font-weight: 400;
}

.f-16-m {
  font-size: 16px;
  line-height: 1rem;
  font-weight: 500;
}

.f-16-b {
  font-size: 16px;
  line-height: 1rem;
  font-weight: 700;
}

//14
.f-14-r {
  font-size: 14px;
  line-height: 0.875rem;
  font-weight: 400;
}

.f-14-r-07 {
  font-size: 14px;
  line-height: 0.875rem;
  font-weight: 400;
  opacity: 0.7;
}

.f-14-m {
  font-size: 14px;
  line-height: 0.875rem;
  font-weight: 500;
}

.f-14-m-07 {
  font-size: 14px;
  line-height: 0.875rem;
  font-weight: 500;
  opacity: 0.7;
}

.f-14-b {
  font-size: 14px;
  line-height: 0.875rem;
  font-weight: 700;
}

//12
.f-12-r {
  font-size: 12px;
  line-height: 1.1rem;
  font-weight: 400;
}

.f-12-r-07 {
  font-size: 12px;
  line-height: 1.1rem;
  font-weight: 400;
  opacity: 0.7;
}

.f-12-m {
  font-size: 12px;
  line-height: 1.2rem;
  font-weight: 500;
}

.f-12-m-07 {
  font-size: 12px;
  line-height: 1.2rem;
  font-weight: 500;
  opacity: 0.7;
}

.f-12-b {
  font-size: 12px;
  line-height: 1.2rem;
  font-weight: 700;
  opacity: 0.87;
}

//10
.f-10-r {
  font-size: 10px;
  line-height: 1rem;
  font-weight: 400;
  opacity: 0.87;
}

.f-10-m {
  font-size: 10px;
  line-height: 1rem;
  font-weight: 500;
  opacity: 0.87;
}

.f-10-b {
  font-size: 10px;
  line-height: 1rem;
  font-weight: 700;
  opacity: 0.87;
}

.idlePopupBg {
  filter: blur(15px);
  backdrop-filter: blur(1px);
}

.idle-backdrop {
  filter: blur(8px);
  -webkit-filter: blur(25px);
  backdrop-filter: blur(15px);
}





// mat-form-field {
//   --mat-form-field-container-height: 49px;
//   --mat-form-field-container-vertical-padding: 15px;
// }


::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);

}

// mat-table {
//   width: 100%;
//   border-radius: 6px 6px 6px 6px !important;
// }

.addrowTable.mdc-data-table__table {
  width: 100%;
  box-shadow: none !important;
  // border-radius: 6px 6px 6px 6px !important;
  // border: 1px solid #D9D9D9 !important;
  // border-collapse: separate !important;
  // border-spacing: 15px 15px !important;
}

.table-responsive {
  overflow-x: auto;
  max-width: 100%;
}

.insideContainer {
  width: 1300px !important;
  padding: 20px;
  margin: 0 auto;
}

.spc-0 {
  padding: 0;
}

.spc-4 {
  padding: 0 0 4px 0;
}

.spc-8 {
  padding: 0 0 8px 0;
}

.spc-16 {
  padding: 0 0 16px 0;
}

.spc-24 {
  padding: 0 0 24px 0;
}

.spc-32 {
  padding: 0 0 32px 0;
}

.spc-40 {
  padding: 0 0 40px 0;
}

.spc-48 {
  padding: 0 0 48px 0;
}

.spc-56 {
  padding: 0 0 56px 0;
}

.pd-0 {
  padding: 0 0 0 0 !important;
}

.mt-70 {
  margin-top: 70px !important;
}