<div class="modal-slide-in">
  <div class="modal-header d-flex align-items-center justify-content-between">
    <p class="f-18-m mb-0">{{ data?.room ? 'Edit' : 'Add' }} Room Type Details</p>
    <button mat-icon-button (click)="onCancel()" class="text-muted">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <div class="row">
        <!-- Room Type -->
        <div class="col-12 col-md-6">
          <mat-label class="required">Room Type</mat-label>
          <mat-form-field appearance="outline" class="w-100 mt-1">
            <input matInput [(ngModel)]="room.roomType" name="roomtype" placeholder="Unique identifier for the room"
              required />
          </mat-form-field>
        </div>

        <!-- No of Beds -->
        <div class="col-12 col-md-6">
          <mat-label class="required">No of Beds</mat-label>
          <mat-form-field appearance="outline" class="w-100 mt-1">
            <input matInput type="number" [(ngModel)]="room.beds" name="beds" placeholder="Number of beds" required />
          </mat-form-field>
        </div>

        <!-- Description -->
        <div class="col-12">
          <mat-label>Description</mat-label>
          <mat-form-field appearance="outline" class="w-100 mt-1">
            <textarea matInput rows="5" [(ngModel)]="room.description" name="description"
              placeholder="Detailed description of the room."></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onCancel()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary btn-sm" (click)="onSave()" [disabled]="!room.roomType || !room.beds">
      <i class="bi bi-check2 me-1"></i>
      {{ data?.room ? 'Update' : 'Create' }} Room Type
    </button>
  </div>
</div>